

    /*...General...*/
*{
    margin: 0;
    padding: 0;
}



h2{
    text-align: center;
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: blue;
    
}

.container-left{
    text-align: center;
    margin-top: 16em;
    font-weight: bold;
    font-size: 150%;
    color: white;
}

.flex{
    display: flex;
    flex-wrap: wrap;

}

.flex article{
    flex-grow: 1;
    flex-basis: 0;
    flex-wrap: wrap;
    text-align: center;
    background-color: lightgray;
    margin: 1%;
    color: blue;
    font-size: 20px;

}

    /*...Header...*/
    header img {
	    max-width: 50%;
	    height: auto;
}
    header nav ul{
        list-style: none;
    }   
    header nav ul li{
        display: inline;
    }

    header nav ul li a{
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        color: gray;
        padding: 8px;
        
    }

    .site-header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }