

    /*...General...*/
*{
    margin: 0;
    padding: 0;
}


    
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: gray;
}

/*.ws{
    white-space: normal;
}*/

/*.wrapper{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}*/

h2{
    text-align: center;
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: blue;
    
}    
.container-left{
    text-align: center;
    margin-top: 16em;
    font-weight: bold;
    font-size: 150%;
    color: white;
}

.flex{
    display: flex;
    flex-wrap: wrap;

}

.flex article{
    flex-grow: 1;
    flex-basis: 0;
    flex-wrap: wrap;
    text-align: center;
    background-color: lightgray;
    margin: 1%;
    color: blue;
    font-size: 20px;

}
    /*...Header...*/
    header{
        height: 100%;
        border: solid;
    }

    header nav{
        float: right;
        margin-top: 1.9em;
        margin-right: 1.9em;
    }
    header nav ul li{
        display: inline-block;
    }
    header nav ul li a{
        text-transform: uppercase;
        font-weight: bold;
    }